@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,h2 {
    color: black;
}

h3{
    color: #535353;
}
.btn {
    background: #173c82;
    color: white;
    padding: 5px 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}
.btn:hover {
    color: #173c82;
    background: white;
    padding: 3px 8px;
    border: 2px solid #173c82;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;   
    border-bottom: 0px solid #999;
    border-radius:20px 20px 0px 0px;
    background-color : rgb(46,77,171,0.80);
}
.title h2{
    margin: auto;
    padding: 0px 200px 0px 200px;
}
.title img{
	width: 60px;
    height: 60px;
}
table {
    padding: 5px;
    
}

th,
td {
	font-size: 12px;
    text-align: center;
    padding: 10px 3px 10px 3px;
    background: rgb(255, 255, 255,0.40);
    border-radius: 5px 5px 5px 5px;
}
td .btn img{
	width:15px;
	height:15px;
}
.side-menu {
    position: fixed;
    background: #173c82;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-menu .Staff-M img{
	width : 110px;
	height : 110px;
	display: flex;
    margin-left: auto;
    margin-right: auto;
}
.side-menu .Staff-M h1{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color : Black;
}
.side-menu li img {
        width: 60px;
        height: 60px;
    }
 .side-menu li button {
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    border: 0px solid;
    width: 265px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 3px  rgb(0, 0, 128);
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 10px;
    padding: 5px;
    background: #2E4DAB8C;
    border-radius: 10px 10px 10px 10px;
}   
.side-menu li:hover {
    background: #428af5;
    color: #332a5b;
    margin-left: 5px;
    margin-right: 1px;
    border: 0px solid;
    border-radius: 10px 10px 10px 10px;
}
.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}

.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: #173c82;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.u-n{
	float: right;
    display: flex;
    align-items: center;
    margin-left: 950px;
}
.u-n .notification img{
	width: 40px;
    height: 40px;
}
.u-n .user img {
    width: 40px;
    height: 40px;
   margin-left: 30px;
}
.container .content {
    position: relative;
    margin-top: 10vh;
    width: 83vm;
    min-height: 90vh;
    display: flex;
    background:url('Admin.icons/plane-9922.png') repeat #edf3fe;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1100px 600px;
    
}
.container .content .content-2 {
    min-height: 65vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.flight-details {
    min-height: 50vh;
    flex: 5;
    background: rgb(212,228,253,0.80);
    margin: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    position: relative;
}
.Ti{
	align-items: center;
	display: flex;
}
.dropbtn {
  background-color: #173c82;
  color: white;
  padding: 5px 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-menu a:hover {
	background-color: #428af5;
	 border-radius: 10px;
}
.filter:hover .dropdown-menu {
  display: block;
}

.filter:hover .dropbtn {
  background-color: #3e8e41;
  float: right;
}
.filter {
  position: relative;
  display: inline-block;
  margin-right:5px;
}
.ticket-details {
    flex: 2;
    background:rgb(212,228,253,0.80);
    min-height: 50vh;
    margin:  25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
}

.ticket-details .title{
	background-color : rgb(46,77,171,0.80);
	border-radius:20px 20px 0px 0px;
	
}
.Ti{
	justify-content: center;
    padding: 10px 200px 10px 200px; 
}

.container .content .content-2 .ticket-details table td img:nth-child(1)
 {
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 1050px) {
    .side-menu li {
        margin-left: 5px;
        margin-right: 10px;
        padding: 8px 20px;
        font-size: 13px;
        border-radius: 10px 10px 10px 10px;
    }
    .side-menu li:hover {
        margin-left: 5px;
        margin-right: 3px;
        background: #428af5;
        padding: 8px 20px;
        border-radius: 10px 10px 10px 10px;
    }
   
}

@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu li img {
        width: 40px;
        height: 40px;
    }
    .side-menu li {
        margin-left: 5px;
        margin-right: 10px;
        padding: 8px 15px;
        border-radius: 10px 10px 10px 10px;
        
    }
     .side-menu li:hover {
        margin-left: 5px;
        margin-right: 1px;
        background: #428af5;
        padding: 8px 15px;
        border-radius: 10px 10px 10px 10px;
    }
        
}


@media screen and (max-width:550px) {
	.side-menu .Admin img{
	    width: 80px;
	    height: 80px;
	}
    .Admin h1 {
        font-size: 20px;
    }
    .container .content .cards {
        justify-content: center;
    }
    .side-menu li {
        margin-left: 5px;
        margin-right: 10px;
        padding: 8px 15px;
        border-radius: 10px 10px 10px 10px;
    }
    .side-menu li:hover {
        margin-left: 5px;
        margin-right: 3px;
        background: #428af5;
        padding: 8px 15px;
        border-radius: 9px 10px 10px 10px;
    }
    .side-menu li img {
        width: 30px;
        height: 30px; 
    }
 
}
@charset "ISO-8859-1";